{% extends 'admin_base.html' %}
{% load static %}


{% block content %}

<div class="row titre_inscription">
    <div>
        {% if pg_prec == 0 %}
        <a href="{% url 'admin_index' pg_prec pg_suiv %}">
            {% else %}
            <a href="{% url 'admin_index' pg_prec|add:-1  pg_suiv|add:-1  %}">
                {% endif %}
        <img src="{% static 'images/pg_prec.png' %}" height="25">
            </a>
    </div>
    <h1>Administration du Calendrier des Tournois</h1>
    <div>
        {% if pg_suiv == 9 %}
        <a href="{% url 'admin_index' pg_prec pg_suiv %}">
            {% else %}
            <a href="{% url 'admin_index' pg_prec|add:1  pg_suiv|add:1  %}">
                {% endif %}
        <img src="{% static 'images/pg_suiv.png' %}" height="25">
            </a>
    </div>
</div>

<div class="row" style="justify-content:center">
    <div class="date_tourdejeu"></div>
    {% for ligue in list_ligue %}
    <div class="ligue">{{ ligue.nom_ligue }}
        <div class="row">
            {% for club in list_club %}
            {% if ligue.id == club.ligue_id %}
            <div class="club">{{ club.short_name }}</div>
            {% endif %}
            {% endfor %}
        </div>

    </div>
    {% endfor %}
</div>


{% for date in list_date %}
<div class="row" style="justify-content:center">
    
    <div class="date_tourdejeu"> {{ date.tournoi_date|date:'d/m/Y' }}</div>
    

    {% for tourdejeu in list_tourdejeu %}
        <div>
            {% if tourdejeu.date|date:'Y-m-d' == date.tournoi_date|date:'Y-m-d'  %}
                <a class="lien" href="#" onClick="javascript:popup('{% url 'admin_update_tourdejeu' tourdejeu.id %}','admin_tourdejeu_update',500,500)"
                    onmouseover="over_color({{ tourdejeu.id }})" onmouseout="out_color({{ tourdejeu.id }})">
                    {% if tourdejeu.mode_jeu.id == 1 %}
                        <div id="{{ tourdejeu.id }}" class="tourdejeu" style="background-color: #{{ tourdejeu.mode_jeu.color }}"> </div>
                    {% else %}
                        <div id="{{ tourdejeu.id }}" class="tourdejeu" style="background-color: #{{ tourdejeu.mode_jeu.color }}">
                            <div>Tour N° {{ tourdejeu.tour_nbr }}</div>
                            <div>{{ tourdejeu.mode_jeu }}</div>
                            <div>{{ tourdejeu.nbr_maxi_joueur }} joueurs</div>
                        </div>
                    {% endif %}
                </a>
            {% endif %}
        </div>
    {% endfor %}

</div>
{% endfor %}

<div id="">

</div>


{% endblock content %}